/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../sass/partials/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 15, ../sass/partials/_base.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

/* line 20, ../sass/partials/_base.scss */
mark {
  padding: 5px 8.5px;
  border-radius: 5px;
  background-color: #fce3c7;
}

/* line 26, ../sass/partials/_base.scss */
body {
  font-family: "Source Sans Pro", Roboto, Segoe UI, Open Sans, sans-serif;
  font-size: 1.6rem;
  font-size: 16px;
  word-spacing: -.01em;
  letter-spacing: .01em;
  color: #383838;
  height: 100%;
  height: 100vh;
  width: 100%;
  font-weight: 400;
  position: relative;
  line-height: 1.65;
  background-color: white;
}
/* line 41, ../sass/partials/_base.scss */
body.scroll_lock {
  overflow: hidden;
}

/* Backgrounds */
/* line 49, ../sass/partials/_base.scss */
.bg__default {
  background-color: #c5c5c5 !important;
}

/* line 53, ../sass/partials/_base.scss */
.bg__white {
  background-color: white !important;
}

/* line 57, ../sass/partials/_base.scss */
.bg__off_white {
  background-color: #F3f3f3 !important;
}

/* line 61, ../sass/partials/_base.scss */
.bg__primary {
  background-color: #00B0AF !important;
}

/* line 65, ../sass/partials/_base.scss */
.bg__primary_dark {
  background-color: #0CB2B0 !important;
}

/* line 69, ../sass/partials/_base.scss */
.bg__secondary {
  background-color: #F38F1D !important;
}

/* line 73, ../sass/partials/_base.scss */
.bg__red {
  background-color: #C60651 !important;
}

/* line 77, ../sass/partials/_base.scss */
.bg__inverse {
  background-color: #1E2172 !important;
}

/* line 81, ../sass/partials/_base.scss */
.bg__secondary_light {
  background-color: #F0F3FF !important;
}

/* line 85, ../sass/partials/_base.scss */
.bg__black {
  background-color: #050731 !important;
}

/* line 89, ../sass/partials/_base.scss */
.bg__primary_light {
  background-color: #E7F7F7 !important;
}

/* line 93, ../sass/partials/_base.scss */
.color__primary {
  color: #00B0AF !important;
}

/* line 97, ../sass/partials/_base.scss */
.color__primary_light {
  color: #E7F7F7 !important;
}

/* line 101, ../sass/partials/_base.scss */
.color__secondary {
  color: #F38F1D !important;
}

/* line 105, ../sass/partials/_base.scss */
.color__black {
  color: #2C2E30 !important;
}

/* line 109, ../sass/partials/_base.scss */
.color__inverse {
  color: #1E2172 !important;
}

/* line 113, ../sass/partials/_base.scss */
.color__grey_light {
  color: #9A9A9A !important;
}

/* line 117, ../sass/partials/_base.scss */
.color__grey {
  color: #E5E5E5 !important;
}

/* line 121, ../sass/partials/_base.scss */
.color__grey_dark {
  color: #838383 !important;
}

/* line 125, ../sass/partials/_base.scss */
.color__white {
  color: #F3f3f3 !important;
  fill: #F3f3f3 !important;
}

/* line 130, ../sass/partials/_base.scss */
.color__default {
  color: #383838 !important;
}

/* line 134, ../sass/partials/_base.scss */
.color_text_alt {
  color: #6C737A !important;
}

/* line 138, ../sass/partials/_base.scss */
.color__red {
  color: #C60651 !important;
}

/* line 142, ../sass/partials/_base.scss */
.font-sm {
  font-size: 14px !important;
}

/* line 146, ../sass/partials/_base.scss */
.font-default {
  font-size: 16px !important;
}

/* line 150, ../sass/partials/_base.scss */
.font-md {
  font-size: 18px !important;
}

/* line 154, ../sass/partials/_base.scss */
.font-lg {
  font-size: 19px !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 154, ../sass/partials/_base.scss */
  .font-lg {
    font-size: 21px !important;
  }
}

/* line 162, ../sass/partials/_base.scss */
.font-xl {
  font-size: 21px !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 162, ../sass/partials/_base.scss */
  .font-xl {
    font-size: 26px !important;
  }
}

/* line 170, ../sass/partials/_base.scss */
.font-bold {
  font-family: "Slabo 13px", Roboto, Segoe UI, Open Sans, sans-serif;
}

/* line 174, ../sass/partials/_base.scss */
.font-regular {
  font-family: "Source Sans Pro", Roboto, Segoe UI, Open Sans, sans-serif;
}

/* line 178, ../sass/partials/_base.scss */
.text-center {
  text-align: center !important;
}

/* line 182, ../sass/partials/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 186, ../sass/partials/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 190, ../sass/partials/_base.scss */
.caps_upper {
  text-transform: uppercase !important;
}

/* line 194, ../sass/partials/_base.scss */
.caps_normal {
  text-transform: none !important;
}

/* line 198, ../sass/partials/_base.scss */
.container {
  width: auto;
  max-width: 1170px;
}

/* line 203, ../sass/partials/_base.scss */
.content_narrow {
  max-width: 960px;
}

/* line 207, ../sass/partials/_base.scss */
.blogLayoutWrapper {
  max-width: 800px;
}

/* line 211, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 216, ../sass/partials/_base.scss */
.hidden {
  display: none !important;
}

/* Mobile devices */
@media only screen and (max-width: 575px) {
  /* line 221, ../sass/partials/_base.scss */
  .hidden-sm {
    display: none !important;
  }

  /* line 225, ../sass/partials/_base.scss */
  .text-center-sm {
    text-align: center !important;
  }
}
/* line 230, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 240, ../sass/partials/_base.scss */
h1 {
  font-size: 44px;
}

/* line 244, ../sass/partials/_base.scss */
h2 {
  font-size: 32px;
}

/* line 248, ../sass/partials/_base.scss */
h3 {
  font-size: 28px;
}

/* line 252, ../sass/partials/_base.scss */
h4 {
  font-size: 24px;
}

/* line 256, ../sass/partials/_base.scss */
h5 {
  font-size: 18px;
}

/* line 260, ../sass/partials/_base.scss */
h6 {
  font-size: 16px;
}

/* line 264, ../sass/partials/_base.scss */
p {
  margin: 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 268, ../sass/partials/_base.scss */
p + p {
  padding-top: .5em;
}

/* line 273, ../sass/partials/_base.scss */
.margin_top_sm {
  margin-top: 20px !important;
}

/* line 277, ../sass/partials/_base.scss */
.margin_top_md {
  margin-top: 30px !important;
}

/* line 281, ../sass/partials/_base.scss */
.margin_bottom_lg {
  margin-bottom: 40px !important;
}

/* line 285, ../sass/partials/_base.scss */
.margin_bottom_xl {
  margin-bottom: 60px !important;
}

/* line 289, ../sass/partials/_base.scss */
.margin_top_lg {
  margin-top: 40px !important;
}

/* line 293, ../sass/partials/_base.scss */
.margin_top_xl {
  margin-top: 60px !important;
}

/* line 297, ../sass/partials/_base.scss */
.margin_bottom_sm {
  margin-bottom: 20px !important;
}

/* line 301, ../sass/partials/_base.scss */
.margin_bottom_md {
  margin-bottom: 30px !important;
}

/* line 305, ../sass/partials/_base.scss */
.no_margin {
  margin: 0 !important;
}

/* line 309, ../sass/partials/_base.scss */
.padding-top-none {
  padding-top: 0 !important;
}

/* line 313, ../sass/partials/_base.scss */
.padding_bottom_none {
  padding-bottom: 0 !important;
}

/* line 1, ../sass/partials/_form.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9A9A9A;
}

/* line 6, ../sass/partials/_form.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #9A9A9A;
}

/* line 11, ../sass/partials/_form.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #9A9A9A;
}

/* line 16, ../sass/partials/_form.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #9A9A9A;
}

/* line 21, ../sass/partials/_form.scss */
fieldset {
  padding: 30px 0;
}
/* line 23, ../sass/partials/_form.scss */
fieldset + fieldset {
  border-top: 1px solid #9A9A9A;
}

/* line 28, ../sass/partials/_form.scss */
.form_row_group {
  margin-bottom: 20px;
  position: relative;
}

/* line 33, ../sass/partials/_form.scss */
.form_group_item {
  position: relative;
}

/* Mobile devices */
@media only screen and (min-width: 576px) {
  /* line 38, ../sass/partials/_form.scss */
  .text_right_sm {
    text-align: right;
  }
}
/* line 43, ../sass/partials/_form.scss */
.form_row_title {
  font-size: 16px;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (max-width: 575px) {
  /* line 43, ../sass/partials/_form.scss */
  .form_row_title {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 43, ../sass/partials/_form.scss */
  .form_row_title {
    margin-top: 10px;
    margin-right: 20px;
  }
}

/* line 56, ../sass/partials/_form.scss */
.form_body {
  max-width: 600px;
}

/* line 60, ../sass/partials/_form.scss */
.input-group {
  z-index: 1;
}
/* line 63, ../sass/partials/_form.scss */
.input-group > .form-control {
  border-right: none;
}
/* line 67, ../sass/partials/_form.scss */
.input-group + .input-group {
  margin-top: 1em;
}

/* line 72, ../sass/partials/_form.scss */
.input-group-addon {
  background: transparent;
  color: #E5E5E5;
  font-size: .925em;
  padding: 0 15px;
  align-self: center;
  height: 100%;
  line-height: 45px;
  border: 1px solid #d5d5d5;
  border-left: none;
  border-radius: 0 5px 5px 0;
  width: auto;
}

/* line 86, ../sass/partials/_form.scss */
.input-group-btn {
  font-size: 1em;
}
/* line 88, ../sass/partials/_form.scss */
.input-group-btn .btn {
  vertical-align: top;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/* line 95, ../sass/partials/_form.scss */
.form-group {
  position: relative;
  margin-bottom: 25px;
}
/* line 99, ../sass/partials/_form.scss */
.form-group .checkbox-inline {
  margin-top: 0;
}
/* line 103, ../sass/partials/_form.scss */
.form-group > a:not(.btn) {
  display: inline-block;
  margin-top: 10px;
}

/* line 109, ../sass/partials/_form.scss */
.inputAddonBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 65%;
  z-index: 10;
}

/* line 118, ../sass/partials/_form.scss */
input:focus {
  outline: none;
}

/* line 123, ../sass/partials/_form.scss */
.text-error, .has-error {
  font-size: 12px;
  color: red !important;
}

/* line 128, ../sass/partials/_form.scss */
.form-control {
  padding: 8px 12px;
  font-size: 14px;
  line-height: normal;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  outline: 0;
  width: 100%;
  min-height: 55px;
  position: relative;
  border: 1px solid #00B0AF;
  border-radius: 4px;
  overflow: hidden;
  color: #383838;
  text-indent: .01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: 0 0 0, transparent;
  -webkit-box-shadow: 0 0 0, transparent;
  box-shadow: 0 0 0, transparent;
  box-shadow: unset;
  vertical-align: middle;
}
/* line 150, ../sass/partials/_form.scss */
.form-control.input-rounded {
  border-radius: 30px;
  padding-left: 15px;
}
/* line 155, ../sass/partials/_form.scss */
.form-control.insetInput {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 #d5d5d5;
  padding-left: 0;
  padding-right: 0;
}
/* line 162, ../sass/partials/_form.scss */
.form-control.insetInput:focus {
  box-shadow: inset 0 -2px 0 #00B0AF;
}
/* line 167, ../sass/partials/_form.scss */
.form-control:focus {
  outline: 0;
  border-color: #F38F1D;
  box-shadow: none;
}

/* line 174, ../sass/partials/_form.scss */
.control-label {
  text-transform: none;
  font-size: 1em;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  line-height: 1.4rem;
  color: inherit;
}

/* line 184, ../sass/partials/_form.scss */
select.form-control {
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
  padding-right: 25px;
}
/* line 187, ../sass/partials/_form.scss */
select.form-control:focus {
  outline: none;
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
}

/* line 193, ../sass/partials/_form.scss */
.radio, .checkbox {
  line-height: 1;
}
/* line 196, ../sass/partials/_form.scss */
.radio + .radio, .radio + .checkbox, .checkbox + .radio, .checkbox + .checkbox {
  margin-top: 15px;
}

/* line 201, ../sass/partials/_form.scss */
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 3px;
  margin-right: 7.5px;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* line 214, ../sass/partials/_form.scss */
.controlSummary input[type="radio"], .controlSummary
.radio input[type="radio"], .controlSummary
.radio-inline input[type="radio"] {
  margin-top: 6px;
}
/* line 218, ../sass/partials/_form.scss */
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
/* line 221, ../sass/partials/_form.scss */
input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 230, ../sass/partials/_form.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #F38F1D;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 237, ../sass/partials/_form.scss */
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #9A9A9A;
}
/* line 242, ../sass/partials/_form.scss */
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 245, ../sass/partials/_form.scss */
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #9A9A9A;
}
/* line 248, ../sass/partials/_form.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #F38F1D;
}
/* line 251, ../sass/partials/_form.scss */
input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #9A9A9A;
}

/* line 257, ../sass/partials/_form.scss */
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
/* line 266, ../sass/partials/_form.scss */
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
/* line 269, ../sass/partials/_form.scss */
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-top: -2px;
  margin-right: 7.5px;
  border: 2px solid #9A9A9A;
  border-radius: 3px;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 280, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  display: table;
  width: 6px;
  height: 14px;
  border: 2px solid #F3f3f3;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 293, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #00B0AF;
  border-color: #00B0AF;
}
/* line 297, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #9A9A9A;
}
/* line 300, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #E5E5E5;
  border-color: transparent;
}
/* line 305, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:before,
.checkbox input[type="checkbox"]:disabled:checked:before,
.checkbox-inline input[type="checkbox"]:disabled:checked:before {
  border-color: #9A9A9A;
}

/* line 310, ../sass/partials/_form.scss */
.required::after {
  content: "*";
  font-size: 1.025em;
  padding-left: 3px;
  color: #C60651;
}

/* line 317, ../sass/partials/_form.scss */
input[disabled] {
  background-color: #c5c5c5;
}

/* line 321, ../sass/partials/_form.scss */
.radio-inline,
.checkbox-inline {
  padding: 10px 0 5px;
  display: inline-flex;
  align-items: center;
}
/* line 327, ../sass/partials/_form.scss */
.radio-inline + .radio-inline,
.radio-inline + .checkbox-inline,
.checkbox-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 30px;
}

/* line 333, ../sass/partials/_form.scss */
label {
  font-weight: normal;
}
/* line 336, ../sass/partials/_form.scss */
label.radio-inline + label {
  margin-left: 30px;
}
/* line 340, ../sass/partials/_form.scss */
label.checkbox-inline {
  margin: 5px 0;
  margin-bottom: 0 !important;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

/* line 349, ../sass/partials/_form.scss */
.form_cta {
  display: block;
  clear: both;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #d5d5d5;
}

/* line 359, ../sass/partials/_form.scss */
.filterBar {
  display: block;
  padding: 20px 0 30px;
  position: relative;
  overflow: hidden;
}

/* line 366, ../sass/partials/_form.scss */
.filterOptionRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 371, ../sass/partials/_form.scss */
.filterOption {
  flex: 0 0 30%;
  /* Tablets and phablets */
}
/* line 374, ../sass/partials/_form.scss */
.filterOption + .filterOption {
  margin-left: 20px;
}
@media only screen and (min-width: 768px) {
  /* line 371, ../sass/partials/_form.scss */
  .filterOption {
    flex: 0 0 20%;
    min-width: 250px;
  }
}

/* line 384, ../sass/partials/_form.scss */
.filterControl {
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 #9A9A9A;
  padding: 15px 0;
}
/* line 393, ../sass/partials/_form.scss */
.filterControl:focus {
  box-shadow: inset 0 -2px 0 #00B0AF;
}

/* line 1, ../sass/partials/_authentication.scss */
.authblock {
  display: block;
  margin-bottom: 70px;
  width: 100%;
  background-color: white;
  padding: 40px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  border: 1px solid #E5E5E5;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_authentication.scss */
  .authblock {
    padding: 40px 60px;
  }
}

/* line 16, ../sass/partials/_authentication.scss */
.LogoHolder {
  margin-bottom: 30px;
}
/* line 19, ../sass/partials/_authentication.scss */
.LogoHolder img {
  display: inline-block;
  max-width: 200px;
}

/* line 25, ../sass/partials/_authentication.scss */
.blockHeader {
  line-height: 2;
  margin-bottom: 40px;
}

/* line 30, ../sass/partials/_authentication.scss */
.auth_cta {
  align-items: center;
  margin-top: 30px;
}
/* line 34, ../sass/partials/_authentication.scss */
.auth_cta .disclaimer_block {
  padding-top: 20px;
  border-top: 1px solid #d5d5d5;
}

/* line 40, ../sass/partials/_authentication.scss */
.error_message {
  display: block;
  padding: 10px 15px;
  margin-bottom: 30px;
  clear: both;
  color: #383838;
  background-color: transparent;
  border: 1px solid #C60651;
  border-radius: 10px;
}

/* line 51, ../sass/partials/_authentication.scss */
.groupWrapper {
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
  border-radius: 15px;
}
/* line 57, ../sass/partials/_authentication.scss */
.groupWrapper:hover, .groupWrapper:focus {
  background-color: #F3f3f3;
  color: inherit;
}

/* line 63, ../sass/partials/_authentication.scss */
.authFooter {
  padding-bottom: 30px;
  font-size: 12px;
  background-color: transparent;
}

/* line 1, ../sass/partials/_user_area.scss */
.media_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}
/* line 5, ../sass/partials/_user_area.scss */
.heroContentBox .media_item {
  justify-content: center;
  align-items: center;
}

/* line 11, ../sass/partials/_user_area.scss */
.media_figure {
  position: relative;
  flex-shrink: 0;
  margin-right: 15px;
}

/* line 17, ../sass/partials/_user_area.scss */
.media_info {
  position: relative;
}

/* line 21, ../sass/partials/_user_area.scss */
.user_info_avi, .productThumb {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex: 0 0 auto;
  font-size: 0;
  position: relative;
  border-radius: 50%;
  color: #00B0AF;
  vertical-align: middle;
  border-style: none;
  font-size: 13px;
  background-color: #E5E5E5;
  box-sizing: border-box;
}
/* line 37, ../sass/partials/_user_area.scss */
.user_info_avi img, .productThumb img {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-radius: inherit;
  border: 2px solid #d5d5d5;
}

/* line 49, ../sass/partials/_user_area.scss */
.avi_md {
  width: 48px;
  height: 48px;
  font-size: 16px;
}

/* line 55, ../sass/partials/_user_area.scss */
.avi_lg {
  width: 64px;
  height: 64px;
  font-size: 21px;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 14, ../sass/partials/_custom_icons.scss */
svg {
  display: inline-block;
  width: 100%;
}

/* line 19, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 24, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 32px;
  height: 32px;
}

/* line 29, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 24px;
  height: 24px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 29, ../sass/partials/_custom_icons.scss */
  .icon_md {
    width: 48px;
    height: 48px;
  }
}

/* line 39, ../sass/partials/_custom_icons.scss */
.icon_lg {
  width: 64px;
  height: 64px;
}

/* line 44, ../sass/partials/_custom_icons.scss */
.icon_xl {
  width: 64px;
  height: 64px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_custom_icons.scss */
  .icon_xl {
    width: 128px;
    height: 128px;
  }
}

/* line 54, ../sass/partials/_custom_icons.scss */
.icon_download {
  background-image: url(../img/icons/download_icon.svg);
}

/* line 58, ../sass/partials/_custom_icons.scss */
.icon_download_green {
  background-image: url(../img/icons/download_icon_green.svg);
}

/* line 62, ../sass/partials/_custom_icons.scss */
.icon_fb {
  background-image: url(../img/icons/facebook.svg);
}

/* line 66, ../sass/partials/_custom_icons.scss */
.icon_whatsapp {
  background-image: url(../img/icons/whatsapp.svg);
}

/* line 70, ../sass/partials/_custom_icons.scss */
.icon_ig {
  background-image: url(../img/icons/instagram.svg);
}

/* line 74, ../sass/partials/_custom_icons.scss */
.icon_tw {
  background-image: url(../img/icons/twitter.svg);
}

/* line 1, ../sass/partials/_navigation.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: inherit;
}
/* line 6, ../sass/partials/_navigation.scss */
a:hover, a:focus {
  color: #F38F1D;
  text-decoration: none;
}
/* line 12, ../sass/partials/_navigation.scss */
a:focus {
  outline: thin dotted #F38F1D;
}
/* line 14, ../sass/partials/_navigation.scss */
.no-touch a:focus {
  outline: none;
}

/* line 20, ../sass/partials/_navigation.scss */
a:link,
button {
  -webkit-tap-highlight-color: rgba(243, 143, 29, 0.35);
  -moz-tap-highlight-color: rgba(243, 143, 29, 0.35);
}

/* line 26, ../sass/partials/_navigation.scss */
button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 39, ../sass/partials/_navigation.scss */
button:focus, button:visited {
  outline: none;
}

/* line 44, ../sass/partials/_navigation.scss */
.btn {
  border-radius: 2px;
  padding: 10px 22px;
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 600;
  font-family: sans-serif;
  background-color: transparent;
  color: white;
  fill: #E5E5E5;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  box-shadow: unset;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none !important;
  /* Tablets and phablets */
}
/* line 66, ../sass/partials/_navigation.scss */
.btn + [class*="btn"] {
  margin-left: 1.5em;
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_navigation.scss */
  .btn {
    font-size: 16px;
    min-width: 100px;
    padding: 12px 32px;
  }
  /* line 75, ../sass/partials/_navigation.scss */
  .btn_user_act .btn {
    padding: 12px 22px;
    line-height: 1;
  }
}
/* line 81, ../sass/partials/_navigation.scss */
.btn:hover, .btn:focus {
  text-decoration: none !important;
}
/* line 84, ../sass/partials/_navigation.scss */
.no-touch .btn:hover, .no-touch .btn:focus {
  outline: none;
}

/* line 90, ../sass/partials/_navigation.scss */
.btnIcon {
  flex-shrink: 0;
  margin: 0 10px;
}

/* line 95, ../sass/partials/_navigation.scss */
.btn-primary {
  background-color: #00B0AF;
}
/* line 97, ../sass/partials/_navigation.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: transparent;
  color: #00B0AF;
  border: 1px solid #00B0AF;
}

/* line 105, ../sass/partials/_navigation.scss */
.btn-inverse {
  background-color: #F3f3f3;
  color: #050731;
}
/* line 108, ../sass/partials/_navigation.scss */
.btn-inverse:hover, .btn-inverse:focus {
  background-color: #00B0AF;
  color: #F3f3f3;
}

/* line 115, ../sass/partials/_navigation.scss */
.btn-primary-outline {
  background-color: transparent;
  color: #00B0AF;
  border: 1px solid #00B0AF;
  fill: #00B0AF;
}
/* line 121, ../sass/partials/_navigation.scss */
.btn-primary-outline:hover, .btn-primary-outline:focus {
  color: #F3f3f3;
  background-color: #00B0AF;
  border-color: transparent;
  fill: #E7F7F7;
}

/* line 129, ../sass/partials/_navigation.scss */
.btn-secondary {
  background-color: #F38F1D;
  color: #050731;
}
/* line 133, ../sass/partials/_navigation.scss */
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #00B0AF;
  color: #F3f3f3;
}

/* line 140, ../sass/partials/_navigation.scss */
.btn-default {
  background-color: transparent;
  color: inherit;
}
/* line 144, ../sass/partials/_navigation.scss */
.btn-default:hover, .btn-default:focus {
  background-color: #E5E5E5;
  color: #2C2E30;
}

/* line 151, ../sass/partials/_navigation.scss */
.btn-default-outline {
  background-color: transparent;
  color: #F3f3f3;
  border: 1px solid #F3f3f3;
  fill: #E7F7F7;
}
/* line 157, ../sass/partials/_navigation.scss */
.btn-default-outline:hover, .btn-default-outline:focus {
  color: #F3f3f3;
  background-color: #00B0AF;
  border-color: transparent;
  fill: #E7F7F7;
}

/* line 165, ../sass/partials/_navigation.scss */
.btn-link {
  cursor: pointer;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #00B0AF;
  fill: #00B0AF;
}
/* line 174, ../sass/partials/_navigation.scss */
.btn-link:hover, .btn-link:focus {
  color: #F38F1D;
  text-decoration: none;
  fill: #F38F1D;
}
/* line 181, ../sass/partials/_navigation.scss */
.btn-link:active, .btn-link[disabled] {
  color: #9A9A9A;
  outline: none;
}

/* line 187, ../sass/partials/_navigation.scss */
.social_links {
  clear: both;
  fill: #00B0AF;
}
/* line 191, ../sass/partials/_navigation.scss */
.social_links a {
  display: inline-block;
  font-size: 18px;
  fill: inherit;
  vertical-align: bottom;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 198, ../sass/partials/_navigation.scss */
.social_links a + a {
  margin-left: 30px;
}
/* line 202, ../sass/partials/_navigation.scss */
.social_links a:hover {
  fill: #1E2172;
}

/* line 208, ../sass/partials/_navigation.scss */
.shareBtn {
  display: inline-flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 218, ../sass/partials/_navigation.scss */
.shareBtn + .shareBtn {
  margin-left: 20px;
}
/* line 222, ../sass/partials/_navigation.scss */
.shareBtn:hover, .shareBtn:focus {
  background-color: rgba(243, 143, 29, 0.35);
}

/* line 228, ../sass/partials/_navigation.scss */
.dialogDismiss {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  z-index: 1000;
}

/* line 236, ../sass/partials/_navigation.scss */
.pageClose {
  position: fixed;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 236, ../sass/partials/_navigation.scss */
  .pageClose {
    top: 30px;
    right: 40px;
  }
}

/* line 244, ../sass/partials/_navigation.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid #00B0AF;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 257, ../sass/partials/_navigation.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #00B0AF;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 269, ../sass/partials/_navigation.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 272, ../sass/partials/_navigation.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 275, ../sass/partials/_navigation.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #E7F7F7;
  border-color: #C60651;
}
/* line 280, ../sass/partials/_navigation.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #C60651;
}

/* line 287, ../sass/partials/_navigation.scss */
.cls_lg {
  width: 48px;
  height: 48px;
}
/* line 291, ../sass/partials/_navigation.scss */
.cls_lg::before, .cls_lg::after {
  height: 24px;
  margin-top: -12px;
}

/* pager */
/* line 298, ../sass/partials/_navigation.scss */
.pager {
  display: block;
  *zoom: 1;
}
/* line 78, ../sass/partials/_mixins.scss */
.pager:before, .pager:after {
  content: "";
  display: table;
}
/* line 83, ../sass/partials/_mixins.scss */
.pager:after {
  clear: both;
}
/* line 302, ../sass/partials/_navigation.scss */
.pager > * {
  vertical-align: middle;
  display: inline-block;
}

/* line 308, ../sass/partials/_navigation.scss */
.pager_item {
  display: inline-block;
  margin-right: 15px;
}
/* line 312, ../sass/partials/_navigation.scss */
.pager_item a {
  display: block;
  padding: 4.5px 12px;
  border-radius: 4px;
  text-transform: capitalize;
  color: #050731;
}
/* line 319, ../sass/partials/_navigation.scss */
.pager_item a:hover {
  background-color: #E5E5E5;
}
/* line 323, ../sass/partials/_navigation.scss */
.pager_item.active a {
  pointer-events: none;
  font-weight: 700;
  background-color: #d5d5d5;
}

/* line 2, ../sass/partials/_header_nav.scss */
header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 2, ../sass/partials/_header_nav.scss */
  header[role="banner"] {
    height: 120px;
  }
}
/* line 15, ../sass/partials/_header_nav.scss */
header[role="banner"] [class*="container"] {
  height: 100%;
}

/* line 20, ../sass/partials/_header_nav.scss */
.preAuthHeader {
  -moz-transition: background-color 0.6s ease-in-out;
  -o-transition: background-color 0.6s ease-in-out;
  -webkit-transition: background-color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: white;
  color: rgba(44, 46, 48, 0.6);
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 30, ../sass/partials/_header_nav.scss */
  .preAuthHeader.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -120px;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
  }
  /* line 36, ../sass/partials/_header_nav.scss */
  .preAuthHeader.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -moz-transform: translate3d(0, 120px, 0);
    -ms-transform: translate3d(0, 120px, 0);
    -webkit-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0);
  }
}

/* line 43, ../sass/partials/_header_nav.scss */
.navbarWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

/* line 52, ../sass/partials/_header_nav.scss */
.navbarGroupItem {
  width: auto;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

/* line 60, ../sass/partials/_header_nav.scss */
.navBarItemLeft {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 5;
  float: left;
  flex-shrink: 0;
}

/* line 69, ../sass/partials/_header_nav.scss */
.navBarItemRight {
  float: right;
  justify-content: flex-end;
  z-index: 5;
  flex-shrink: 0;
}

/* line 76, ../sass/partials/_header_nav.scss */
.navBarItemCenter {
  flex-grow: 1;
  /* Landscape tablets and desktop or laptops */
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (max-width: 991px) {
  /* line 76, ../sass/partials/_header_nav.scss */
  .navBarItemCenter {
    width: 100%;
    position: absolute;
    left: 0;
  }
}
@media only screen and (min-width: 992px) {
  /* line 76, ../sass/partials/_header_nav.scss */
  .navBarItemCenter {
    padding-left: 40px;
  }
}

/* line 90, ../sass/partials/_header_nav.scss */
.brand_img {
  display: block;
}
/* line 93, ../sass/partials/_header_nav.scss */
header[role="banner"] .brand_img {
  height: 60px;
}

/* line 98, ../sass/partials/_header_nav.scss */
.logo_link {
  padding: 0;
  display: inline-block;
  line-height: 60px;
  width: 125px;
  position: relative;
  height: 100%;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 98, ../sass/partials/_header_nav.scss */
  .logo_link {
    width: 165px;
  }
}
/* line 110, ../sass/partials/_header_nav.scss */
.logo_link > img {
  vertical-align: middle;
  display: inline-block;
}

/* line 116, ../sass/partials/_header_nav.scss */
.navMenu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 100%;
}

/* line 122, ../sass/partials/_header_nav.scss */
.menuPrimary {
  -moz-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: all 0.6s cubic-bezier(0.68, 0.34, 0.15, 1);
  transform-origin: top;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 122, ../sass/partials/_header_nav.scss */
  .menuPrimary {
    left: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    height: 100vh;
    overflow: auto;
    visibility: hidden;
    top: 60px;
    flex-direction: column;
    background-color: white;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    padding: 20px 15px 70px;
  }
}
/* line 141, ../sass/partials/_header_nav.scss */
.is-active .menuPrimary {
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
  -moz-transition: -moz-transform 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -o-transition: -o-transform 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
  transition: transform 0.8s cubic-bezier(0.68, 0.34, 0.15, 1);
}
@media only screen and (min-width: 768px) {
  /* line 122, ../sass/partials/_header_nav.scss */
  .menuPrimary {
    flex-direction: row;
    justify-content: center;
  }
}

/* line 153, ../sass/partials/_header_nav.scss */
.menuListItem {
  position: static;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
/* line 156, ../sass/partials/_header_nav.scss */
.menuListItem > a {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 153, ../sass/partials/_header_nav.scss */
  .menuListItem {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 168, ../sass/partials/_header_nav.scss */
  .menuListItem + .menuListItem {
    margin-left: 20px;
  }
  /* line 173, ../sass/partials/_header_nav.scss */
  .menuListItem:hover > .subNav, .menuListItem:focus > .subNav {
    opacity: 1;
    visibility: visible;
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -moz-transition: -moz-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
    transition: transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
  }
}

/* line 183, ../sass/partials/_header_nav.scss */
.menuLinkItem:not(.btn) {
  display: block;
  padding: 15px 10px;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 16px;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  position: relative;
  z-index: 10;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 183, ../sass/partials/_header_nav.scss */
  .menuLinkItem:not(.btn) {
    text-align: center;
    padding: 43px 15px;
  }
}
/* line 198, ../sass/partials/_header_nav.scss */
.active .menuLinkItem:not(.btn), .menuLinkItem:not(.btn):hover, .menuLinkItem:not(.btn):focus {
  color: #1E2172;
}
/* line 204, ../sass/partials/_header_nav.scss */
.active .menuLinkItem:not(.btn) {
  font-weight: 500;
}

/* line 209, ../sass/partials/_header_nav.scss */
.subNav {
  z-index: 5;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  display: none;
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  transform-origin: top;
  -moz-transition: -moz-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
  /* Tablets and phablets */
}
/* line 220, ../sass/partials/_header_nav.scss */
.navMenuActive .subNav {
  opacity: 1;
  display: block;
  visibility: visible;
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  -moz-transition: -moz-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.15s ease-in-out, -webkit-transform 0.3s linear;
}
@media only screen and (min-width: 768px) {
  /* line 209, ../sass/partials/_header_nav.scss */
  .subNav {
    left: 0;
    display: block;
    position: absolute;
    padding: 50px 0;
    color: #F3f3f3;
    top: 120px;
    background: #1E2172;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

/* line 241, ../sass/partials/_header_nav.scss */
.subNavList {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 0;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 241, ../sass/partials/_header_nav.scss */
  .subNavList {
    flex: 0 0 50%;
    width: 50%;
    padding: 0 15px;
  }
}

/* line 255, ../sass/partials/_header_nav.scss */
.subNavHeader {
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 255, ../sass/partials/_header_nav.scss */
  .subNavHeader {
    display: none;
  }
}

/* line 261, ../sass/partials/_header_nav.scss */
.subNavListItem {
  position: relative;
  display: block;
}

/* line 266, ../sass/partials/_header_nav.scss */
.subNavLink {
  display: block;
  padding: 15px 20px;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 266, ../sass/partials/_header_nav.scss */
  .subNavLink {
    font-size: 21px;
    padding-left: 0;
    color: white;
  }
  /* line 278, ../sass/partials/_header_nav.scss */
  .subNavLink:hover, .subNavLink:focus {
    opacity: rgba(255, 255, 255, 0.5);
  }
}

/* line 284, ../sass/partials/_header_nav.scss */
.subNavCol__navs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 284, ../sass/partials/_header_nav.scss */
  .subNavCol__navs {
    flex-direction: column;
  }
}

/* line 293, ../sass/partials/_header_nav.scss */
.controlBtn {
  margin-left: 30px;
  position: relative;
}
/* line 297, ../sass/partials/_header_nav.scss */
.controlBtn > a {
  fill: #00B0AF;
  display: block;
}
/* line 301, ../sass/partials/_header_nav.scss */
.controlBtn > a:hover, .controlBtn > a:focus {
  fill: #F38F1D;
}

/* line 307, ../sass/partials/_header_nav.scss */
.headerStrips {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  height: 5px;
  top: 0;
  z-index: 5;
}

/* line 315, ../sass/partials/_header_nav.scss */
.baseStrip {
  height: 20px;
}

/* line 319, ../sass/partials/_header_nav.scss */
.headerStripBar {
  height: 100%;
  flex: 0 0 25%;
}

/* line 324, ../sass/partials/_header_nav.scss */
.control_label {
  margin-left: 5px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 324, ../sass/partials/_header_nav.scss */
  .control_label {
    display: none;
  }
}

/* line 332, ../sass/partials/_header_nav.scss */
.nav_trigger {
  display: inline-block;
  margin-left: 20px;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 332, ../sass/partials/_header_nav.scss */
  .nav_trigger {
    display: none;
  }
}

/* line 341, ../sass/partials/_header_nav.scss */
.primary-nav-trigger {
  position: relative;
}

/* line 345, ../sass/partials/_header_nav.scss */
.menu-icon {
  /* this span is the central line of the menu icon */
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background-color: #383838;
  -moz-transition: background-color 0.6s;
  -o-transition: background-color 0.6s;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  /* these are the upper and lower lines in the menu icon */
}
/* line 354, ../sass/partials/_header_nav.scss */
.menu-icon::before, .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #383838;
  right: 0;
  -moz-transition: -moz-transform 0.6s, top 0.6s, background-color 0s;
  -o-transition: -o-transform 0.6s, top 0.6s, background-color 0s;
  -webkit-transition: -webkit-transform 0.6s, top 0.6s, background-color 0s;
  transition: transform 0.6s, top 0.6s, background-color 0s;
}
/* line 364, ../sass/partials/_header_nav.scss */
.menu-icon::before {
  top: -7px;
}
/* line 367, ../sass/partials/_header_nav.scss */
.menu-icon::after {
  top: 7px;
}
/* line 370, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked {
  background-color: rgba(198, 6, 81, 0);
}
/* line 372, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before, .menu-icon.is-clicked::after {
  background-color: #c60651;
}
/* line 376, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::before {
  top: 0;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 380, ../sass/partials/_header_nav.scss */
.menu-icon.is-clicked::after {
  top: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 387, ../sass/partials/_header_nav.scss */
.menu-text {
  font-size: 9px;
  color: #d5d5d5;
  display: none;
  visibility: hidden;
}

/* line 1, ../sass/partials/_heroes.scss */
.hero_area {
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 1;
  min-height: 520px;
}

/* line 11, ../sass/partials/_heroes.scss */
.hero_area {
  background-color: #00B0AF;
}
/* line 15, ../sass/partials/_heroes.scss */
.hero_area .container {
  z-index: 10;
  height: 100%;
}

/* line 21, ../sass/partials/_heroes.scss */
.homeSlider {
  display: block;
  overflow: hidden;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 21, ../sass/partials/_heroes.scss */
  .homeSlider {
    height: 650px;
  }
}

/* line 30, ../sass/partials/_heroes.scss */
.carouselContentInner {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

/* line 37, ../sass/partials/_heroes.scss */
.carouselBanner {
  display: block;
  width: auto;
  height: 100%;
}

/* line 43, ../sass/partials/_heroes.scss */
.carousel-indicators {
  position: static;
  justify-content: flex-start;
  margin: 0 auto 40px;
}
/* line 48, ../sass/partials/_heroes.scss */
.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/* line 55, ../sass/partials/_heroes.scss */
.contact_hero {
  background-image: url(../img/banners/contactBanner.jpg);
  background-position: center;
}

/* line 60, ../sass/partials/_heroes.scss */
.footer_hero {
  background-color: #00B0AF;
  background-image: url(../img/banners/footer_cta_banner.jpg);
  background-position: bottom center;
}

/* line 66, ../sass/partials/_heroes.scss */
.heroContentWrapper {
  padding: 70px 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 66, ../sass/partials/_heroes.scss */
  .heroContentWrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 78, ../sass/partials/_heroes.scss */
.image_stub {
  max-width: 500px;
  text-align: center;
}
/* line 82, ../sass/partials/_heroes.scss */
.image_stub img {
  display: inline-block;
}

/* line 88, ../sass/partials/_heroes.scss */
.heroContentBoxWrapper {
  display: block;
  width: 100%;
  position: relative;
  padding: 30px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 88, ../sass/partials/_heroes.scss */
  .heroContentBoxWrapper {
    padding: 60px;
  }
}

/* line 99, ../sass/partials/_heroes.scss */
.heroContentSlider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column-reverse;
}

/* line 104, ../sass/partials/_heroes.scss */
.box_floated_down {
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 104, ../sass/partials/_heroes.scss */
  .box_floated_down {
    margin-bottom: -50px;
  }
}

/* line 110, ../sass/partials/_heroes.scss */
.floatingBanner {
  position: relative;
  margin-bottom: -40px;
  text-align: center;
  bottom: -70px;
}
/* line 116, ../sass/partials/_heroes.scss */
.floatingBanner img {
  display: inline-block;
}

/* line 121, ../sass/partials/_heroes.scss */
.hero_title {
  font-size: 28px;
  margin-bottom: 15px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 121, ../sass/partials/_heroes.scss */
  .hero_title {
    font-size: 42px;
  }
}

/* line 131, ../sass/partials/_heroes.scss */
.hero_blub {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  color: inherit;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 131, ../sass/partials/_heroes.scss */
  .hero_blub {
    font-size: 21px;
  }
}

/* line 142, ../sass/partials/_heroes.scss */
.logo_grid {
  display: grid;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* line 149, ../sass/partials/_heroes.scss */
.logo_item {
  padding: 20px 10px;
  text-align: center;
  /* Mobile devices */
}
/* line 153, ../sass/partials/_heroes.scss */
.logo_item img {
  display: inline-block;
  max-width: 148px;
}
@media only screen and (max-width: 575px) {
  /* line 149, ../sass/partials/_heroes.scss */
  .logo_item {
    flex-basis: 30%;
  }
  /* line 161, ../sass/partials/_heroes.scss */
  .logo_item img {
    height: auto;
  }
}

/* line 167, ../sass/partials/_heroes.scss */
.logo_supliment {
  height: 60px;
  width: auto;
}

/* line 172, ../sass/partials/_heroes.scss */
.bannerBlobItem {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  max-width: 100px;
}

/* line 184, ../sass/partials/_heroes.scss */
.homeBlobTopLeft {
  left: 0;
  background-position: top center;
  background-image: url(../img/banners/home_blob_left.svg);
}

/* line 190, ../sass/partials/_heroes.scss */
.homeBlobTopRight {
  right: 0;
  background-position: top right;
  background-image: url(../img/banners/home_blob_right.svg);
}

/* line 196, ../sass/partials/_heroes.scss */
.aboutBlobTopLeft {
  left: 0;
  background-position: top center;
  background-image: url(../img/banners/about_blob_left.svg);
}

/* line 202, ../sass/partials/_heroes.scss */
.aboutBlobTopright {
  right: 0;
  top: -100;
  background-position: top right;
  background-image: url(../img/banners/about_blob_top_right.svg);
}

/* line 209, ../sass/partials/_heroes.scss */
.ainBlobBottomRight {
  right: 0;
  background-position: bottom right;
  background-image: url(../img/banners/ain_blob_bottom_right.svg);
}

/* line 215, ../sass/partials/_heroes.scss */
.homeBlobCenterLeft {
  left: 0;
  background-position: center left;
  background-image: url(../img/banners/hero_blob_center.svg);
}

/* line 221, ../sass/partials/_heroes.scss */
.aboutBlobbottomRight {
  right: 0;
  background-position: top right;
  background-image: url(../img/banners/about_blob_bottomLeft.svg);
}

/* line 1, ../sass/partials/_sections.scss */
.mainContentArea {
  position: relative;
  width: 100%;
  padding-top: 60px;
  background-color: #F3f3f3;
  /* Tablets and phablets */
  /* Landscape tablets and desktop or laptops */
}
/* line 7, ../sass/partials/_sections.scss */
.mainContentArea.is_active {
  overflow: hidden;
}
/* line 11, ../sass/partials/_sections.scss */
.mainContentArea::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  /* line 17, ../sass/partials/_sections.scss */
  .mainContentArea::before {
    /* never visible - used to check MQ in jQuery */
    content: 'tablet';
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_sections.scss */
  .mainContentArea {
    padding-top: 120px;
    margin-top: 0;
  }
  /* line 25, ../sass/partials/_sections.scss */
  .mainContentArea::before {
    /* never visible - used to check MQ in jQuery */
    content: 'desktop';
  }
}

/* line 32, ../sass/partials/_sections.scss */
.section_block {
  padding: 70px 0;
  display: block;
  width: 100%;
  position: relative;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 32, ../sass/partials/_sections.scss */
  .section_block {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
/* line 43, ../sass/partials/_sections.scss */
.section_block .container {
  z-index: 5;
  position: relative;
}

/* line 49, ../sass/partials/_sections.scss */
.section_cto {
  margin-top: 50px;
  clear: both;
}

/* line 54, ../sass/partials/_sections.scss */
.section_header {
  position: relative;
  margin-bottom: 40px;
}

/* line 59, ../sass/partials/_sections.scss */
.title {
  font-size: 18px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  line-height: 1.5;
}

/* line 65, ../sass/partials/_sections.scss */
.headerSupport {
  color: #6C737A;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

/* line 72, ../sass/partials/_sections.scss */
.title_sm {
  font-size: 18px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 72, ../sass/partials/_sections.scss */
  .title_sm {
    font-size: 24px;
  }
}

/* line 80, ../sass/partials/_sections.scss */
.title_md {
  font-size: 24px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 80, ../sass/partials/_sections.scss */
  .title_md {
    font-size: 36px;
  }
}

/* line 88, ../sass/partials/_sections.scss */
.title_lg {
  font-size: 30px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 88, ../sass/partials/_sections.scss */
  .title_lg {
    font-size: 42px;
  }
}

/* line 96, ../sass/partials/_sections.scss */
.text_clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 102, ../sass/partials/_sections.scss */
footer[role="contentinfo"] {
  width: 100%;
  clear: both;
  position: relative;
  background: linear-gradient(180deg, rgba(242, 244, 246, 0) 0%, #f2f4f6 100%);
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 102, ../sass/partials/_sections.scss */
  footer[role="contentinfo"] {
    z-index: 10;
  }
}

/* line 114, ../sass/partials/_sections.scss */
.footerRow {
  display: block;
  padding: 40px 0;
}

/* line 119, ../sass/partials/_sections.scss */
.footerTop {
  border-bottom: 1px solid #d5d5d5;
}

/* line 123, ../sass/partials/_sections.scss */
.footer_block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  color: #5E6C84;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 131, ../sass/partials/_sections.scss */
.ft_block_header {
  margin-bottom: 20px;
}

/* line 135, ../sass/partials/_sections.scss */
.item_title {
  font-size: 16px;
  color: #344563;
  font-family: "Slabo 13px", Roboto, Segoe UI, Open Sans, sans-serif;
}

/* line 141, ../sass/partials/_sections.scss */
.ft_nav_block > li {
  color: #5E6C84;
}
/* line 144, ../sass/partials/_sections.scss */
.ft_nav_block > li + li {
  margin-top: 15px;
}

/* line 149, ../sass/partials/_sections.scss */
.brandBlock {
  margin-bottom: 20px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 149, ../sass/partials/_sections.scss */
  .brandBlock {
    margin-bottom: 0;
  }
}

/* line 157, ../sass/partials/_sections.scss */
.copyright_notice {
  color: rgba(94, 108, 132, 0.5);
}

/* line 161, ../sass/partials/_sections.scss */
.footItemRow {
  margin-bottom: 15px;
}

/* line 165, ../sass/partials/_sections.scss */
.footer_links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 171, ../sass/partials/_sections.scss */
.footerLinkItem {
  display: block;
  padding: 7.5px 15px;
  color: inherit;
}
/* line 176, ../sass/partials/_sections.scss */
.footerLinkItem:hover, .footerLinkItem:focus {
  color: #F38F1D;
  text-decoration: underline;
}

/* line 182, ../sass/partials/_sections.scss */
.subscribeForm {
  clear: both;
  margin-top: 20px;
}

/* line 187, ../sass/partials/_sections.scss */
.footerBottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 187, ../sass/partials/_sections.scss */
  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* line 198, ../sass/partials/_sections.scss */
.licenseBlock, .socialsBlock {
  padding: 10px 0;
}

/* line 202, ../sass/partials/_sections.scss */
.iconBrandParent {
  height: 28px;
  width: auto;
  display: inline-block;
  content: "";
  margin-left: 5px;
  color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/icons/parentBrand.svg);
}

/*Layout tiles*/
/* line 216, ../sass/partials/_sections.scss */
.tile_block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  /* Tablets and phablets */
}
/* line 220, ../sass/partials/_sections.scss */
.tile_block + .tile_block {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  /* line 216, ../sass/partials/_sections.scss */
  .tile_block {
    flex-direction: row;
  }
}

/* line 229, ../sass/partials/_sections.scss */
.tile_item {
  width: 100%;
  flex: 1;
}

/* line 234, ../sass/partials/_sections.scss */
.tile_image_wrapper, .tile_content_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 242, ../sass/partials/_sections.scss */
.tile_image_wrapper {
  overflow: hidden;
}
/* line 245, ../sass/partials/_sections.scss */
.section_block .tile_image_wrapper {
  max-height: 550px;
}
/* line 249, ../sass/partials/_sections.scss */
.tile_image_wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 256, ../sass/partials/_sections.scss */
.tile_content_wrapper {
  z-index: 50;
}

/* line 260, ../sass/partials/_sections.scss */
.content_inner {
  max-width: 640px;
  margin: auto;
  padding: 25px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 260, ../sass/partials/_sections.scss */
  .content_inner {
    padding: 30px 40px;
  }
  /* line 268, ../sass/partials/_sections.scss */
  .section_block .content_inner {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 100%;
  }
}
/* line 276, ../sass/partials/_sections.scss */
.content_inner.contentCollapsed > .eventDescription > *:nth-child(n+2) {
  display: none;
}

/* line 284, ../sass/partials/_sections.scss */
.contentWrapper {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  max-width: 950px;
  margin: auto;
  /* Tablets and phablets */
}
/* line 292, ../sass/partials/_sections.scss */
.contentArea .contentWrapper {
  padding-bottom: 70px;
}
@media only screen and (min-width: 768px) {
  /* line 284, ../sass/partials/_sections.scss */
  .contentWrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /* line 300, ../sass/partials/_sections.scss */
  .contentArea .contentWrapper {
    padding-left: 70px;
  }
}

/* line 306, ../sass/partials/_sections.scss */
.navSidebar {
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 306, ../sass/partials/_sections.scss */
  .navSidebar {
    border-right: 1px solid #d5d5d5;
  }
}

/* line 312, ../sass/partials/_sections.scss */
.navHeader {
  display: block;
  margin-bottom: 30px;
  color: #2C2E30;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 312, ../sass/partials/_sections.scss */
  .navHeader {
    margin-bottom: 60px;
  }
}

/* line 322, ../sass/partials/_sections.scss */
.sideNavBlock {
  display: block;
  clear: both;
}

/* line 327, ../sass/partials/_sections.scss */
.navBlockList {
  display: none;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 327, ../sass/partials/_sections.scss */
  .navBlockList {
    display: block;
  }
}

/* line 335, ../sass/partials/_sections.scss */
.tinynav {
  width: 100%;
  border: 1px solid #d5d5d5;
  background-color: white;
  color: #838383;
  padding: 12px 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 335, ../sass/partials/_sections.scss */
  .tinynav {
    display: none;
  }
}

/* line 347, ../sass/partials/_sections.scss */
.navBlockItem {
  display: block;
  padding: 15px 0;
}

/* line 352, ../sass/partials/_sections.scss */
.navBlockLink {
  display: block;
  opacity: .5;
  color: #F3f3f3;
  line-height: 1.5;
}
/* line 358, ../sass/partials/_sections.scss */
.navBlockLink:hover, .navBlockLink:focus {
  opacity: .75;
  color: white;
}
/* line 363, ../sass/partials/_sections.scss */
.active .navBlockLink {
  font-weight: bold;
  opacity: 1;
}

/* line 2, ../sass/partials/_posts.scss */
.postThumb {
  margin-bottom: 20px;
}

/* line 6, ../sass/partials/_posts.scss */
.postThumbWrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 16, ../sass/partials/_posts.scss */
.postThumbWrapper:hover, .postThumbWrapper:focus {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

/* line 22, ../sass/partials/_posts.scss */
.postThumbDetails {
  width: 100%;
  padding: 20px;
}

/* line 27, ../sass/partials/_posts.scss */
.postThumbImage {
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* line 33, ../sass/partials/_posts.scss */
.postImageWrapper {
  position: relative;
  padding-bottom: 52.25%;
  margin: 0 auto;
  width: 100%;
  display: block;
  background-color: #00B0AF;
  opacity: 1;
}
/* line 42, ../sass/partials/_posts.scss */
.postImageWrapper:hover, .postImageWrapper:focus {
  opacity: .75;
}

/* line 47, ../sass/partials/_posts.scss */
.featuredImage {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
/* line 52, ../sass/partials/_posts.scss */
.contentRow .featuredImage {
  margin-top: -50px;
}
/* line 56, ../sass/partials/_posts.scss */
.featuredImage img {
  display: inline-block;
}

/* line 61, ../sass/partials/_posts.scss */
.bannerImage {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  font-family: "object-fit:cover";
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

/* line 76, ../sass/partials/_posts.scss */
.postExcerpt {
  font-size: 16px;
  line-height: 1.8em;
  max-height: 12.6em;
  overflow: hidden;
  color: inherit;
  text-overflow: ellipsis;
}

/* line 85, ../sass/partials/_posts.scss */
.postCatTag {
  font-size: 13px;
  border-radius: 4px;
  padding: .45em 1.5em;
  background-color: #1E2172;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  color: #d5d5d5;
  white-space: nowrap;
}

/* line 97, ../sass/partials/_posts.scss */
.postTypeTag {
  font-size: 12px;
  border-radius: 2px;
  padding: .45em 1.5em;
  background-color: #d5d5d5;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #838383;
  white-space: nowrap;
}

/* line 109, ../sass/partials/_posts.scss */
.postMeta {
  display: inline-flex;
  line-height: 21px;
  font-size: 14px;
  color: #383838;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
}
/* line 118, ../sass/partials/_posts.scss */
.postMeta::before {
  height: 16px;
  width: 16px;
  display: inline-flex;
  content: "";
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 130, ../sass/partials/_posts.scss */
.postMetaDate::before {
  background-image: url(../img/icons/timer.svg);
}

/* line 134, ../sass/partials/_posts.scss */
.postMetaLocation::before {
  background-image: url(../img/icons/location.svg);
}

/* line 140, ../sass/partials/_posts.scss */
.post_mast_head {
  clear: both;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* line 146, ../sass/partials/_posts.scss */
.contentRow {
  padding: 50px 0;
}
/* line 149, ../sass/partials/_posts.scss */
.contentRow + .contentRow {
  border-top: 1px solid #838383;
}

/* line 154, ../sass/partials/_posts.scss */
.postContentArea {
  max-width: 850px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 154, ../sass/partials/_posts.scss */
  .postContentArea {
    padding-right: 90px;
  }
}
/* line 161, ../sass/partials/_posts.scss */
.postContentArea p + p {
  margin-top: 20px;
}

/* line 168, ../sass/partials/_posts.scss */
.postControlItem {
  display: block;
  margin-bottom: 15px;
}

/* line 173, ../sass/partials/_posts.scss */
.postControlBtn {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  text-transform: uppercase;
  align-items: center;
  color: rgba(44, 46, 48, 0.8);
  background-color: #E5E5E5;
  border-radius: 3px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 173, ../sass/partials/_posts.scss */
  .postControlBtn {
    margin-bottom: 50px;
  }
}
/* line 189, ../sass/partials/_posts.scss */
.postControlBtn:hover, .postControlBtn:focus {
  color: #050731;
  font-weight: bold;
}

/* line 195, ../sass/partials/_posts.scss */
.postArticle {
  overflow: hidden;
  font-size: 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 195, ../sass/partials/_posts.scss */
  .postArticle {
    font-size: 18px;
  }
}
/* line 203, ../sass/partials/_posts.scss */
.postArticle img {
  display: inline-block;
  object-fit: fill;
  object-position: center center;
  text-align: center;
  margin: 20px 0 7.5px;
}
/* line 211, ../sass/partials/_posts.scss */
.postArticle ol, .postArticle ul {
  list-style: inherit;
  padding: 10px 20px;
}
/* line 215, ../sass/partials/_posts.scss */
.postArticle ol li, .postArticle ul li {
  display: list-item;
  clear: both;
  padding-bottom: 5px;
}
/* line 223, ../sass/partials/_posts.scss */
.postArticle ol li {
  list-style: decimal;
}
/* line 226, ../sass/partials/_posts.scss */
.postArticle ol li > ol > li {
  list-style: lower-alpha;
}
/* line 232, ../sass/partials/_posts.scss */
.postArticle h2, .postArticle h3, .postArticle h4 {
  margin: 40px 0 20px;
  text-transform: uppercase;
  display: block;
}
/* line 239, ../sass/partials/_posts.scss */
.postArticle p:not(:last-of-type) {
  margin-bottom: 1em;
}

/* line 244, ../sass/partials/_posts.scss */
.postInfoWidget {
  clear: both;
  padding: 100px 0 30px;
  border-bottom: 1px solid #9A9A9A;
}
/* line 249, ../sass/partials/_posts.scss */
.postInfoWidget .title {
  margin-bottom: 15px;
}

/* line 256, ../sass/partials/_posts.scss */
.headermarker {
  display: block;
  clear: both;
  background-color: #00B0AF;
  height: 6px;
  width: 80px;
  margin-bottom: 10px;
}

/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 2, ../sass/partials/_cards.scss */
  .heightFixed {
    min-height: 450px;
  }
}
/* line 7, ../sass/partials/_cards.scss */
.tileCardItem {
  margin-bottom: 30px;
}

/* line 11, ../sass/partials/_cards.scss */
.tileCardWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-color: #1E2172;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 3px;
}

/* line 26, ../sass/partials/_cards.scss */
.pictureTiles {
  overflow: hidden;
}

/* line 30, ../sass/partials/_cards.scss */
.galleryThumbGroup {
  padding-top: 10px;
  padding-bottom: 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 30, ../sass/partials/_cards.scss */
  .galleryThumbGroup {
    flex: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* line 40, ../sass/partials/_cards.scss */
.galleryThumbWrapper {
  height: 100%;
}

/* line 44, ../sass/partials/_cards.scss */
.gThumbvHalf {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

/* line 49, ../sass/partials/_cards.scss */
.galleryImageHolder {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 57, ../sass/partials/_cards.scss */
  .gThumbvHalf .galleryImageHolder {
    height: 50%;
  }
}
/* line 62, ../sass/partials/_cards.scss */
.galleryImageHolder + .galleryImageHolder {
  margin-top: 30px;
}
/* line 66, ../sass/partials/_cards.scss */
.galleryImageHolder img {
  display: block;
  height: 100%;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
/* line 73, ../sass/partials/_cards.scss */
.galleryImageHolder:hover img {
  z-index: 5;
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

/* line 81, ../sass/partials/_cards.scss */
.teamMemberGrid {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 86, ../sass/partials/_cards.scss */
.teamMemberItem {
  margin-bottom: 40px;
}

/* line 90, ../sass/partials/_cards.scss */
.teamMemberBlock {
  max-width: 340px;
  margin: auto;
}

/* line 95, ../sass/partials/_cards.scss */
.memberImage {
  display: block;
  position: relative;
  border-radius: 3px;
  padding-bottom: 100%;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  background-color: #C60651;
  margin-bottom: 15px;
}

/* line 108, ../sass/partials/_cards.scss */
.memberDetails {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 114, ../sass/partials/_cards.scss */
.memberContact {
  margin-left: 15px;
  flex-shrink: 0;
}
/* line 118, ../sass/partials/_cards.scss */
.memberContact > a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #9A9A9A;
  background-color: #E7F7F7;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 129, ../sass/partials/_cards.scss */
.memberContact > a:hover, .memberContact > a:focus {
  fill: #F3f3f3;
  background-color: #00B0AF;
}

/* line 136, ../sass/partials/_cards.scss */
.member_role {
  font-size: 13px;
  color: #838383;
}

/* line 143, ../sass/partials/_cards.scss */
.cardItem {
  margin-bottom: 30px;
}

/* line 147, ../sass/partials/_cards.scss */
.cardWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  background-color: white;
  padding: 20px 40px;
  border-radius: 2px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 159, ../sass/partials/_cards.scss */
.fileCardWrapper {
  border: 1px solid #1E2172;
  padding: 30px 30px 20px;
}
/* line 163, ../sass/partials/_cards.scss */
.fileCardWrapper .cardInfoPrimary {
  font-size: 20px;
  min-height: 10em;
}
/* line 168, ../sass/partials/_cards.scss */
.fileCardWrapper:hover, .fileCardWrapper:focus {
  border-color: #F38F1D;
}

/* line 173, ../sass/partials/_cards.scss */
.jobCardWrapper {
  box-shadow: inset 15px 0 #F38F1D;
}
/* line 176, ../sass/partials/_cards.scss */
.jobCardWrapper:hover, .jobCardWrapper:focus {
  box-shadow: inset 15px 0 #00B0AF;
}

/* line 181, ../sass/partials/_cards.scss */
.tenderCardWrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #E5E5E5;
}
/* line 186, ../sass/partials/_cards.scss */
.tenderCardWrapper:hover, .tenderCardWrapper:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* line 191, ../sass/partials/_cards.scss */
.cardinfoFooter {
  margin-top: 20px;
  font-size: 14px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

/* line 198, ../sass/partials/_cards.scss */
.cardMetaRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 5px;
}

/* line 206, ../sass/partials/_cards.scss */
.metaItem {
  font-size: 13px;
  color: #838383;
}
/* line 210, ../sass/partials/_cards.scss */
.metaItem + .metaItem {
  margin-left: 3px;
}
/* line 212, ../sass/partials/_cards.scss */
.metaItem + .metaItem::before {
  content: ",";
  padding-right: 3px;
  display: inline-flex;
  font-size: .9em;
}

/* line 1, ../sass/partials/_lists.scss */
.featureListItem {
  position: relative;
  margin-bottom: 40px;
}

/* line 6, ../sass/partials/_lists.scss */
.featureWrapper {
  max-width: 80%;
  margin: 0 auto;
}

/* line 11, ../sass/partials/_lists.scss */
.featureCardWrapper {
  width: 100%;
  height: 100%;
  padding: 50px 35px;
  background-color: white;
  border-radius: 3px;
}

/* line 19, ../sass/partials/_lists.scss */
.featureIcon {
  width: auto;
  max-height: 96px;
}

/* line 24, ../sass/partials/_lists.scss */
.cardFigureIcon {
  max-width: 68px;
}

/* line 28, ../sass/partials/_lists.scss */
.featCount {
  margin-bottom: 20px;
}

/* line 32, ../sass/partials/_lists.scss */
.featHeader {
  margin-bottom: 20px;
}

/* line 36, ../sass/partials/_lists.scss */
.featIconHr {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

/* line 41, ../sass/partials/_lists.scss */
.feat_Icon {
  flex-shrink: 0;
  margin-right: 15px;
}
/* line 46, ../sass/partials/_lists.scss */
.feat_Icon img {
  max-height: 48px;
}

/* line 51, ../sass/partials/_lists.scss */
.featTitle {
  flex: 1;
  font-family: "Slabo 13px", Roboto, Segoe UI, Open Sans, sans-serif;
  font-size: 21px;
  opacity: .75;
}

/* line 60, ../sass/partials/_lists.scss */
.eventItem {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #9A9A9A;
}

/* line 66, ../sass/partials/_lists.scss */
.eventTileWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 20px 0 30px;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 66, ../sass/partials/_lists.scss */
  .eventTileWrapper {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  /* line 66, ../sass/partials/_lists.scss */
  .eventTileWrapper {
    align-items: center;
    justify-content: space-between;
  }
}

/* line 81, ../sass/partials/_lists.scss */
.eventListCTA {
  flex-shrink: 0;
  padding-top: 10px;
  font-family: "Slabo 13px", Roboto, Segoe UI, Open Sans, sans-serif;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 81, ../sass/partials/_lists.scss */
  .eventListCTA {
    font-size: 18px;
  }
}

/* line 91, ../sass/partials/_lists.scss */
.eventInfoList {
  clear: both;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

/* line 99, ../sass/partials/_lists.scss */
.infoListItem {
  padding: 20px 0;
}

/* line 103, ../sass/partials/_lists.scss */
.listItemLabel, .listItemValue {
  display: inline-block;
}

/* line 107, ../sass/partials/_lists.scss */
.listItemLabel {
  font-weight: bold;
  margin-right: 5px;
}

/* line 112, ../sass/partials/_lists.scss */
.interventionRow {
  display: block;
  padding: 25px 0;
}
/* line 116, ../sass/partials/_lists.scss */
.interventionRow + .interventionRow {
  border-top: 1px solid #E5E5E5;
}

/* Dots */
/* line 2, ../sass/partials/_controls.scss */
.slick-dots {
  list-style: none;
  display: block;
  padding: 0 0 40px;
  width: 100%;
}
/* line 8, ../sass/partials/_controls.scss */
.slick-dots button {
  display: block;
  height: 10px;
  width: 10px;
  padding: 0;
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}
/* line 19, ../sass/partials/_controls.scss */
.slick-dots button:hover, .slick-dots button:focus {
  outline: none;
}
/* line 24, ../sass/partials/_controls.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0;
}
/* line 29, ../sass/partials/_controls.scss */
.slick-dots li + li {
  margin-left: 7.5px;
}
/* line 33, ../sass/partials/_controls.scss */
.slick-dots li.slick-active button {
  border-color: transparent;
  background-color: #F3f3f3;
}

/* line 40, ../sass/partials/_controls.scss */
.secDivider {
  display: block;
  margin: 40px auto 30px;
  height: 1px;
  background-color: #d5d5d5;
}

/* line 47, ../sass/partials/_controls.scss */
.dividerMini {
  max-width: 280px;
}

/* line 51, ../sass/partials/_controls.scss */
.dividerMidi {
  max-width: 390px;
}

/* line 55, ../sass/partials/_controls.scss */
.contactInfoBlock {
  width: 100%;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 55, ../sass/partials/_controls.scss */
  .contactInfoBlock {
    font-size: 24px;
  }
}
/* line 62, ../sass/partials/_controls.scss */
.contactInfoBlock + .contactInfoBlock {
  margin-top: 15px;
}

/* line 67, ../sass/partials/_controls.scss */
.contactHeader {
  font-weight: 600;
  margin-bottom: 10px;
}

/* line 72, ../sass/partials/_controls.scss */
.contactAddress {
  margin: 0;
  max-width: 350px;
}

/* line 77, ../sass/partials/_controls.scss */
.contactLinks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

/* line 83, ../sass/partials/_controls.scss */
.inline_seperator {
  color: inherit;
  opacity: .75;
  font-size: 1.25em;
  line-height: 10px;
  font-weight: bold;
  padding: 0 5px;
}

/* line 1, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  font-size: 1em;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1000;
  max-width: 460px;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  color: #838383;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-animation: panel-slide-down .6s ease-in-out forwards;
  animation: panel-slide-down .6s ease-in-out forwards;
  overflow: hidden;
  border: none;
}
/* line 19, ../sass/partials/_dialogs.scss */
.dropdown-menu.show {
  visibility: visible;
}
/* line 23, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 28, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *, .dropdown-menu li > a {
  padding: 10px;
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #383838;
  text-transform: capitalize;
  line-height: normal;
  align-items: center;
  white-space: nowrap;
}
/* line 39, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover, .dropdown-menu li > a:hover {
  background: #F0F3FF;
  color: #050731;
}
/* line 45, ../sass/partials/_dialogs.scss */
.dropdown-menu li .cust_icon {
  width: 24px;
  height: 24px;
}

@keyframes panel-slide-down {
  0%,30% {
    margin-top: -15px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
/* line 63, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 67, ../sass/partials/_dialogs.scss */
.tooltip .arrow::before {
  border-top-color: #050731 !important;
}

/* line 71, ../sass/partials/_dialogs.scss */
.tooltip-inner {
  font-size: 12px;
  background-color: rgba(5, 7, 49, 0.9);
  border-radius: 5px;
  padding: 6px 12px;
}

/* line 78, ../sass/partials/_dialogs.scss */
.caret {
  display: inline-flex;
  margin-left: 4px;
}
/* line 82, ../sass/partials/_dialogs.scss */
.caret:after {
  vertical-align: .255em;
  content: "";
  border-top: .4em solid;
  border-right: .35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
}

/* line 92, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: #050731;
}

/* line 96, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 3px;
}
/* line 99, ../sass/partials/_dialogs.scss */
.postDialog .modal-content {
  border: 10px solid #00B0AF;
}

/* line 104, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
  margin: 5rem auto;
}

/* Landscape tablets and desktop or laptops */
@media only screen and (min-width: 992px) {
  /* line 110, ../sass/partials/_dialogs.scss */
  .modal-md {
    max-width: 650px;
  }

  /* line 114, ../sass/partials/_dialogs.scss */
  .modal-lg, .modal-xl {
    max-width: 1170px;
  }
}
/* line 120, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(5, 7, 49, 0.9);
}
/* line 124, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 10px 15px 0;
  *zoom: 1;
  justify-content: flex-start;
  /* Tablets and phablets */
}
/* line 78, ../sass/partials/_mixins.scss */
.modal .modal-header:before, .modal .modal-header:after {
  content: "";
  display: table;
}
/* line 83, ../sass/partials/_mixins.scss */
.modal .modal-header:after {
  clear: both;
}
@media only screen and (min-width: 768px) {
  /* line 124, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding: 15px 30px 0;
  }
}
/* line 135, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 20px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 135, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding: 30px;
  }
}
/* line 143, ../sass/partials/_dialogs.scss */
.modal .subtitle {
  margin-bottom: 15px;
  display: block;
}
/* line 148, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 0 15px 10px;
}

/* line 154, ../sass/partials/_dialogs.scss */
.modal-title {
  font-size: 16px;
  font-family: "Slabo 13px", Roboto, Segoe UI, Open Sans, sans-serif;
  text-transform: uppercase;
}

/* line 160, ../sass/partials/_dialogs.scss */
.content_panel {
  min-height: 250px;
  position: relative;
  max-width: 1040px;
  margin: auto;
}

/* line 167, ../sass/partials/_dialogs.scss */
.panel-group {
  margin: 0;
}
/* line 170, ../sass/partials/_dialogs.scss */
.panel-group .panel {
  box-shadow: unset;
}

/* line 175, ../sass/partials/_dialogs.scss */
.accordion-toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
/* line 181, ../sass/partials/_dialogs.scss */
.accordion-toggle::after {
  height: 24px;
  width: 24px;
  display: inline-flex;
  content: "";
  margin-left: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/icons/arrow_down.svg);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 194, ../sass/partials/_dialogs.scss */
.accordion-toggle.collapsed::after {
  background-image: url(../img/icons/arrow_right.svg);
}
/* line 198, ../sass/partials/_dialogs.scss */
.panel-FAQs .accordion-toggle {
  justify-content: flex-start !important;
}
/* line 201, ../sass/partials/_dialogs.scss */
.panel-FAQs .accordion-toggle::after {
  display: none;
}
/* line 205, ../sass/partials/_dialogs.scss */
.panel-FAQs .accordion-toggle::before {
  height: 20px;
  width: 20px;
  display: inline-flex;
  content: "";
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/icons/chevron-up.svg);
}
/* line 217, ../sass/partials/_dialogs.scss */
.panel-FAQs .accordion-toggle.collapsed::before {
  background-image: url(../img/icons/chevron-down.svg);
}

/* line 223, ../sass/partials/_dialogs.scss */
.panel-body {
  padding: 20px 0;
}
/* line 226, ../sass/partials/_dialogs.scss */
.panel-FAQs .panel-body {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F3f3f3;
}

/* line 233, ../sass/partials/_dialogs.scss */
.panel-FAQs {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 5px;
}

/* line 238, ../sass/partials/_dialogs.scss */
.panel-heading {
  border: none;
}
/* line 241, ../sass/partials/_dialogs.scss */
.panel .panel-heading {
  padding: 15px 0;
}
/* line 245, ../sass/partials/_dialogs.scss */
.panel-FAQs .panel-heading {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
